DATABASE_URL=postgresql://diporezz_user:q1u3zwbBPh1rBy4F1Cf7dgOei90yUhVU@dpg-d96h1kmq1p3s73c4q510-a.oregon-postgres.render.com/diporezz

PORT=3000
NODE_ENV=development

JWT_SECRET_KEY=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=1d

# Google OAuth
WEB_GOOGLE_CLIENT_ID=465650583036-h7t8u7u0ll5dvs8ovlfhgpht3i1enibs.apps.googleusercontent.com
